[development]
db_dns=mysql:host=localhost;dbname=forum_development
db_user=forum
db_pass=forum

[test]
db_dns=mysql:host=localhost;dbname=forum_test
db_user=forum
db_pass=forum

[production]
db_dns=mysql:host=localhost;dbname=forum
db_user=forum
db_pass=XXXXXXXXXX
